{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>MRI Image Denoising</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://cdn.tailwindcss.com"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
<style>

</style>
</head>
<body class="bg-gray-100">

 <!-- Links (sit on top) -->
 <div class="sticky top-0 z-50 shadow-lg bg-gradient-to-tr from-black to-gray-700">
  <div class="container mx-auto px-4 py-4">
    <div class="grid grid-cols-4 gap-4">
      <a href="/doctorhome/" class="py-2 px-4 text-white flex items-center justify-center hover:bg-gray-600 hover:rounded-md text-lg">Home</a>
      <a href="/viewpatientsbydoc/" class="py-2 px-4 text-white flex items-center justify-center hover:bg-gray-600 hover:rounded-md text-lg">Add Prescription</a>
      <a href="/viewmripatients/" class="py-2 px-4 text-white flex items-center justify-center bg-gray-600 rounded-md text-lg">MRI Patients</a>
      <a href="/index/" class="py-2 px-4 text-white flex items-center justify-center hover:bg-gray-600 hover:rounded-md text-lg">Logout</a>
    </div>
  </div>
</div>

<!-- Contact/Area Container -->
<div class="container mx-auto px-4 py-8">
  

  <div class="text-center mb-8 mt-7">
    <h2 class="text-2xl font-bold text-blue-800">Patient's Information</h2>
  </div>

  <div class="overflow-x-auto">
    <table class="w-full bg-white rounded-lg shadow-lg">
      <thead>
        <tr class="bg-gradient-to-tr from-blue-900 to-gray-700 text-white">
          <th class="px-6 py-3">Name</th>
          <th class="px-6 py-3">Email</th>
          <th class="px-6 py-3">Phone no</th>
          <th class="px-6 py-3">Result</th>
        </tr>
      </thead>
      <tbody>
        {% for i in data %}
        <tr class="bg-gray-100">
          <td class="border px-6 py-4">{{ i.6 }}</td>
          <td class="border px-6 py-4">{{ i.7 }}</td>
          <td class="border px-6 py-4">{{ i.8 }}</td>
          <td class="border px-6 py-4"><a href="/viewmriresult/?id={{ i.0 }}" class="text-blue-500 hover:underline">VIEW RESULT</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</div>

</body>
</html>
