
<!-- Links (sit on top) -->
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
<title>MRI Image Denoising</title>
<meta charset="UTF-8">
<script src="https://cdn.tailwindcss.com"></script>

<meta name="viewport" content="width=device-width, initial-scale=1">

<style>

</style>
</head>
<body>

 <!-- Links (sit on top) -->
 <div class="sticky w-full top-0 left-0 z-10 shadow-xl">
  <div class="grid w-full grid-cols-4 bg-gradient-to-tr from-black to-gray-700 ">
    <div class="w-full  grid place-items-center">
      <a href="/doctorhome/" class=" p-1.5 mt-4 mb-4 px-12 w-fit text-white flex hover:bg-gray-600 hover:rounded-md items-center justify-center text-xl">Home</a>
    </div>
    <div class="w-full grid place-items-center">
      <a href="/viewpatientsbydoc/" class=" p-1.5 mt-4 mb-4 px-12 w-fit text-white flex bg-gray-600 rounded-md items-center justify-center text-xl" >Add Prescription</a>
    </div>
    <div class="w-full grid place-items-center">
      <a href="/viewmripatients/" class=" p-1.5 mt-4 mb-4 px-12 w-fit text-white flex hover:bg-gray-600 hover:rounded-md items-center justify-center text-xl">MRI Patients</a>
    </div>
    <div class="w-full grid place-items-center">
      <a href="/index/" class=" p-1.5 mt-4 mb-4 px-12 w-fit text-white flex hover:bg-gray-600 hover:rounded-md items-center justify-center text-xl">Logout</a>
    </div>

  </div>
</div>
<!-- Contact/Area Container -->
<div class="w3-container" id="where" style="padding-bottom:32px;">
  <div class="w3-content mx-auto" style="max-width:700px">

    <div class="text-center my-8">
      <h2 class="text-2xl font-bold text-blue-800">Patient's Information</h2>
    </div>

    <div class="overflow-x-auto">
      <table class="w-full bg-white rounded-lg shadow-lg">
        <thead>
          <tr class="bg-gradient-to-tr from-black to-gray-700 text-white">
            <th class="px-4 py-2">Name</th>
            <th class="px-4 py-2">Email</th>
            <th class="px-4 py-2">Phone no</th>
            <th class="px-4 py-2">Action</th>
          </tr>
        </thead>
        <div >
        <tbody>
          {% for i in data %}
          <tr class = "bg-gray-100">
            <td class="border px-4 py-2">{{ i.5 }}</td>
            <td class="border px-4 py-2">{{ i.6 }}</td>
            <td class="border px-4 py-2">{{ i.7 }}</td>
            <td class="border px-4 py-2">
              <a href="/addreference/?id={{ i.1 }}" class="text-blue-500 hover:text-blue-700">REFER FOR SCANNING</a>
            </td>
          </tr>
          {% endfor %}
          {% for i in data1 %}
          <tr class="bg-gray-100">
            <td class="border px-4 py-2">{{ i.5 }}</td>
            <td class="border px-4 py-2">{{ i.6 }}</td>
            <td class="border px-4 py-2">{{ i.7 }}</td>
            <td class="border px-4 py-2 text-blue-500">REFERENCED FOR MRI</td>
          </tr>
          {% endfor %}
        </tbody>
      </div>
      </table>
    </div>

  </div>
</div>

</center>
    {% if msg %}
<script>
	alert('{{msg}}')
</script>
{% endif %}

{% endblock %}
  </div>
</div>

<!-- End page content -->
</div>


<script>
// Tabbed Menu
function openMenu(evt, menuName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("menu");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" w3-dark-grey", "");
  }
  document.getElementById(menuName).style.display = "block";
  evt.currentTarget.firstElementChild.className += " w3-dark-grey";
}
document.getElementById("myLink").click();
</script>

</body>
</html>
