{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>MRI Image Denoising</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://cdn.tailwindcss.com"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
<style>
body, html {
  height: 100%;
  font-family: "Inconsolata", sans-serif;
}

.bgimg {
  background-position: center;
  background-size: cover;
  background-image: url("{% static '/images/doctor.jpg' %}");
  min-height: 100%;
}

.menu {
  display: none;
}
</style>
</head>
<body>

<!-- Links (sit on top) -->
<div class="sticky w-full top-0 left-0 z-10 shadow-xl">
  <div class="grid w-full grid-cols-4 bg-gradient-to-tr from-black to-gray-700">
    <div class="w-full  grid place-items-center">
      <a href="/doctorhome/" class=" p-1.5 mt-4 mb-4 px-12 w-fit text-white flex hover:bg-gray-600 hover:rounded-md items-center justify-center text-xl" style="font-family: serif;">Home</a>
    </div>
    <div class="w-full grid place-items-center">
      <a href="/viewpatientsbydoc/" class=" p-1.5 mt-4 mb-4 px-12 w-fit text-white flex bg-gray-600 rounded-md items-center justify-center text-xl">Add Prescription</a>
    </div>
    <div class="w-full grid place-items-center">
      <a href="/viewmripatients/" class=" p-1.5 mt-4 mb-4 px-12 w-fit text-white flex bg-gray-600 rounded-md items-center justify-center text-xl">MRI Patients</a>
    </div>
    <div class="w-full grid place-items-center">
      <a href="/index/" class=" p-1.5 mt-4 mb-4 px-12 w-fit text-white flex hover:bg-gray-600 hover:rounded-md items-center justify-center text-xl">Log Out</a>
    </div>
  </div>
</div>

<!-- Header with image -->

<!-- Add a background color and large text to the whole page -->
<div class="w3-sand w3-grayscale w3-large">

<!-- Contact/Area Container -->
<div class="w3-container" id="where" style="padding-bottom:32px;">
  <div class="w3-content" style="max-width:700px">

    <center>

    <br><br><br><br>
    <div class="container">
      <table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-gradient-to-tr from-blue-900 to-gray-700 text-white">
          <tr>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">Name</th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">Email</th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">Phone no</th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">Result</th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
          {% for i in data %}
          <tr>
            <td class="px-6 py-4 whitespace-nowrap">{{ i.6 }}</td>
            <td class="px-6 py-4 whitespace-nowrap">{{ i.7 }}</td>
            <td class="px-6 py-4 whitespace-nowrap">{{ i.8 }}</td>
            <td class="px-6 py-4 whitespace-nowrap"><a href="/viewmriresult/?id={{ i.0 }}" class="text-blue-500 hover:underline">VIEW RESULT</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

  </div>
</div>

</body>
</html>
