
{% extends 'admin/adminbase.html' %}
{% block content %}
	
					
					<form method="post">
                        <div class="contact_left_grid" style="padding-left: 200px;">
                           
                            {% csrf_token %} 
                            
                            <input type="email" name="email" placeholder="Your UserName" required="">
                            <input type="password" name="oldpassword" placeholder="current password" >
                            <input type="password" name="newpassword" placeholder="New password.." required="">
                            <input type="password" name="cpassword" placeholder="Confirm Password.." required="">
							<input type="submit" value="Change Password">
							
							<div class="clearfix"> </div>
						</div>
					</form>
				
	{% if msg %}
	<script>alert('{{msg}}');</script>
	{% endif %}
{% endblock %}