{% load static %}
{% block content %}
<!DOCTYPE html>
<html>

<head>
  <title>MRI Image Denoising</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100">

  <!-- Links (sit on top) -->
  <div class="sticky top-0 z-50 shadow-lg bg-gradient-to-tr from-black to-gray-700">
    <div class="container mx-auto px-4 py-4">
      <div class="grid grid-cols-7 gap-1">
        <a href="/adminhome/" class="py-2 px-4 text-white flex items-center justify-center hover:bg-gray-600 hover:rounded-md text-lg">Home</a>
        <a href="/adddoctor/" class="py-2 px-4 text-white flex items-center justify-center hover:bg-gray-600 hover:rounded-md text-lg">Add Doctor</a>
        <a href="/labreg/" class="py-2 px-4 text-white flex items-center justify-center hover:bg-gray-600 hover:rounded-md text-lg">Add Lab</a>
        <a href="/adminviewdoctors/" class="py-2 px-4 text-white flex items-center justify-center hover:bg-gray-600 hover:rounded-md text-lg">Doctors</a>
        <a href="/viewlab/" class="py-2 px-4 text-white flex items-center justify-center hover:bg-gray-600 hover:rounded-md text-lg">Lab</a>
        <a href="/adminchangepassword/" class="py-2 px-4 text-white flex items-center justify-center bg-gray-600 rounded-md text-lg">Change Password</a>
        <a href="/index/" class="py-2 px-4 text-white flex items-center justify-center hover:bg-gray-600 hover:rounded-md text-lg">Log Out</a>
      </div>
    </div>
  </div>

  <!-- Contact/Area Container -->
  <div class="container mx-auto px-4 py-8">
    <h2 class="text-2xl font-bold text-blue-800 text-center mb-4">Change Password</h2>
    <form method="post" class="max-w-md mx-auto bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
      <div class="mb-4">
        {% csrf_token %}
        <input class="w-full px-3 py-2 leading-tight text-gray-700 border rounded-md shadow-sm focus:outline-none focus:shadow-outline" type="email" name="email" placeholder="Your UserName" required="">
      </div>
      <div class="mb-4">
        <input class="w-full px-3 py-2 leading-tight text-gray-700 border rounded-md shadow-sm focus:outline-none focus:shadow-outline" type="password" name="oldpassword" placeholder="Current Password">
      </div>
      <div class="mb-4">
        <input class="w-full px-3 py-2 leading-tight text-gray-700 border rounded-md shadow-sm focus:outline-none focus:shadow-outline" type="password" name="newpassword" placeholder="New Password.." required="">
      </div>
      <div class="mb-4">
        <input class="w-full px-3 py-2 leading-tight text-gray-700 border rounded-md shadow-sm focus:outline-none focus:shadow-outline" type="password" name="cpassword" placeholder="Confirm Password.." required="">
      </div>
      <div class="text-center">
        <button class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-md focus:outline-none focus:shadow-outline" type="submit">Change Password</button>
      </div>
    </form>

    {% if msg %}
    <script>
      alert('{{msg}}')
    </script>
    {% endif %}
  </div>

</body>

</html>
{% endblock %}
