{% load static %}
{% block content %}
<!DOCTYPE html>
<html>

<head>
  <title>MRI Image Denoising</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
  <style>
    body,
    html {
      height: 100%;
      font-family: "Inconsolata", sans-serif;
      background-image: url("{% static '/images/bg.jpg' %}");
      background-size: cover;
    }

    .bgimg {
      background-position: center;
      background-size: cover;
      background-image: url("{% static '/images/doctor.jpg' %}");
      min-height: 100%;
    }

    .menu {
      display: none;
    }
  </style>
</head>

<body>

  <!-- Links (sit on top) -->
  <div class="w3-top">
     <div class="w3-row w3-padding w3-black">
    <div class="w3-col s3">
      <a href="/labhome/" class="w3-button w3-block w3-black" style="font-family=serif">HOME</a>
    </div>
    <div class="w3-col s3">
      <a href="/viewmrirequest/" class="w3-button w3-block w3-black">MRI REQUEST</a>
    </div>
    <div class="w3-col s3">
      <a href="/labchangepassword/" class="w3-button w3-block w3-black">Change Password</a>
    </div>
      <div class="w3-col s3">
      <a href="/index/" class="w3-button w3-block w3-black">Log Out</a>
    </div>

    </div>
  </div>


  <!-- Contact/Area Container -->
  <div class="w3-container" id="where" style="padding-bottom:32px;">
    <div class="w3-content" style="max-width:700px">




      <p><strong>Reserve</strong> a table, ask for today's special or just send us a message:</p>
      <form method="post">
        <br><br><br>
        {% csrf_token %}
        <p><input class="w3-input w3-padding-16 w3-border" type="email" placeholder="Your Username" required name="email"></p>
        <p><input class="w3-input w3-padding-16 w3-border" type="password" placeholder="Old Password" required name="oldpassword"></p>
		  <p><input class="w3-input w3-padding-16 w3-border" type="password" placeholder="New Password" required name="newpassword"></p>

        <center>
          <p><input class="w3-button w3-black" type="submit" value="Change Password"></input></p>
        </center>
      </form>
      {% if msg %}
      <script>
        alert('{{msg}}')
      </script>
      {% endif %}

      {% endblock %}
    </div>
  </div>

  <!-- End page content -->
  </div>


  <script>
    // Tabbed Menu
    function openMenu(evt, menuName) {
      var i, x, tablinks;
      x = document.getElementsByClassName("menu");
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablink");
      for (i = 0; i < x.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" w3-dark-grey", "");
      }
      document.getElementById(menuName).style.display = "block";
      evt.currentTarget.firstElementChild.className += " w3-dark-grey";
    }
    document.getElementById("myLink").click();
  </script>

</body>

</html>