{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
<title>MRI Image Denoising</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
<style>
body, html {
  height: 100%;
  font-family: "Inconsolata", sans-serif;
  background-image: url("{% static '/images/download.jpg' %}");
    background-size: 2000px 2800px;
	background-repeat: no-repeat;
}

.bgimg {
  background-position: center;
  background-size: cover;
  background-color: url("{% static '/images/doctor.jpg' %}");
  min-height: 100%;
}

.menu {
  display: none;
}
</style>
</head>
<body>

<!-- Links (sit on top) -->
<div class="w3-top">
  <div class="w3-row w3-padding w3-black">
    <div class="w3-col s3">
      <a href="/labhome/" class="w3-button w3-block w3-black" style="font-family=serif">HOME</a>
    </div>
    <div class="w3-col s3">
      <a href="/viewmrirequest/" class="w3-button w3-block w3-black">MRI REQUEST</a>
    </div>

      <div class="w3-col s3">
      <a href="/index/" class="w3-button w3-block w3-black">Log Out</a>
    </div>

  </div>
</div>


<!-- Contact/Area Container -->
<div class="w3-container" id="where" style="padding-bottom:32px;">
  <div class="w3-content" style="max-width:700px">




<form method="post" enctype="multipart/form-data">
        <br><br><br><br<br>
        {% csrf_token %}
<div style="background: white; margin-left:-10px; border-radius:10px; margin-top:100px;">
	<br><h1 style="font-family: sans serif;  text-align:center;">&nbsp;&nbsp;Add Image </b></h1>&nbsp;&nbsp;
	<div>&nbsp;&nbsp;&nbsp;&nbsp;<input type="file" name="image" placeholder="image.." required=""></div>
        <center>
          <p><input class="w3-button w3-black" type="submit" value="Upload Now"></input></p><br>
        </center>
      </form>
</div>
</center>
    {% if msg %}
<script>
	alert('{{msg}}')
</script>
{% endif %}

{% endblock %}
  </div>
</div>

<!-- End page content -->
</div>


<script>
// Tabbed Menu
function openMenu(evt, menuName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("menu");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" w3-dark-grey", "");
  }
  document.getElementById(menuName).style.display = "block";
  evt.currentTarget.firstElementChild.className += " w3-dark-grey";
}
document.getElementById("myLink").click();
</script>

</body>
</html>