{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
<title>MRI Image Denoising</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://cdn.tailwindcss.com"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">

</head>
<body>

<!-- Links (sit on top) -->

<div class="sticky top-0 z-50 shadow-lg bg-gradient-to-tr from-black to-gray-700">
  <div class="container mx-auto px-4 py-4">
    <div class="grid grid-cols-4 gap-4">
      <a href="/labhome/" class="py-2 px-4 text-white flex items-center justify-center hover:bg-gray-600 hover:rounded-md text-lg">Home</a>
      <a href="/viewmrirequest/" class="py-2 px-4 text-white flex items-center justify-center hover:bg-gray-600 hover:rounded-md text-lg">MRI Request</a>
      
      <a href="/index/" class="py-2 px-4 text-white flex items-center justify-center hover:bg-gray-600 hover:rounded-md text-lg">Logout</a>
    </div>
  </div>
</div>
<div class="container mx-auto px-4 py-8">
  <div class="text-center mb-8">
    <h2 class="text-2xl font-bold text-blue-800">Add Image</h2>
  </div>

  <div class="w-full max-w-md mx-auto">
    <form method="post" enctype="multipart/form-data" class="bg-gray-100 shadow-md rounded px-8 pt-6 pb-8 mb-4">
      {% csrf_token %}
      <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="image">
          Select Image
        </label>
        <input type="file" name="image" id="image" class="bg-white appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required="">
      </div>
      <div class="text-center">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
          Upload Now
        </button>
      </div>
    </form>
  </div>
</div>

</center>
    {% if msg %}
<script>
	alert('{{msg}}')
</script>
{% endif %}

{% endblock %}
  </div>
</div>

<!-- End page content -->
</div>


<script>
// Tabbed Menu
function openMenu(evt, menuName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("menu");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" w3-dark-grey", "");
  }
  document.getElementById(menuName).style.display = "block";
  evt.currentTarget.firstElementChild.className += " w3-dark-grey";
}
document.getElementById("myLink").click();
</script>

</body>
</html>