
{% extends 'receptionist/receptionistbase.html' %}
{% block content %}


<div class="bs-docs-example">
    <table class="table">
        <thead>
            <tr>
                
                <th>Name </th>
                <th>
                    Email
                </th>
                <th>
                    Phone no
                </th>
                <th>
                    Doctor
                </th>
                <th>
                    specification
                </th>
                <th>
                    check prescription
                </th>
               
            </tr>
        </thead>
        <tbody>
            {% for i in data %}
            <tr>
                <td>
                    {{i.5}}
                </td>


                <td>
                    {{i.6}}
                </td>
                <td>
                    {{i.7}}
                </td>
                <td>
                    {{i.11}}
                </td>
                <td>
                    {{i.12}}
                </td>
                <td>
                   <a href="/viewprescription/?id={{i.1}}">check prescription</a>                </td>

                
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% if msg %}
	<script>alert("{{msg}}");</script>
	{% endif %}

    {% if not data %}
	<script>alert("no prescriprions");</script>
	{% endif %}



{% endblock %}